@import "button";
@import "root";

// style

.navbar {
  background: rgba(255, 255, 255, 0) !important; /* Warna transparan */
  backdrop-filter: blur(10px); /* Efek blur kaca */
  -webkit-backdrop-filter: blur(10px); /* Untuk browser berbasis WebKit */
  border-radius: 10px; /* Opsional, agar lebih halus */
}

.hero {
  position: relative;
  overflow: hidden;
  background: radial-gradient(
    circle,
    rgba(200, 200, 200, 0.5) 10%,
    rgba(255, 255, 255, 1) 80%
  );
  background-size: 100% 100%;
  animation: grow-shrink 5s infinite ease-in-out;
}

@keyframes grow-shrink {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 120% 120%;
  }
  100% {
    background-size: 100% 100%;
  }
}
